#color-pick-container {
  background-color: red;
}

.color-div1 {
  background-color: blue;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div2 {
  background-color: red;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div3 {
  background-color: green;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div4 {
  background-color: blue;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div5 {
  background-color: yellow;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div6 {
  background-color: orange;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div7 {
  background-color: purple;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div8 {
  background-color: pink;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div9 {
  background-color: rgb(0, 213, 255);
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div10 {
  background-color: rgb(255, 0, 204);
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div11 {
  background-color: turquoise;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div12 {
  background-color: gold;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div13 {
  background-color: salmon;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div14 {
  background-color: lightsalmon;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div15 {
  background-color: darksalmon;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div16 {
  background-color: aqua;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div17 {
  background-color: lavender;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div18 {
  background-color: lawngreen;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div19 {
  background-color: teal;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div20 {
  background-color: violet;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div21 {
  background-color: black;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}

.color-div22 {
  background-color: white;
  width: 49px;
  height: 49px;
  border: rgba(169, 248, 126) 10px solid;
}