html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
}

div {
  display: flex;
  flex-wrap: wrap;
}


/* STYLING FOR SIDEBAR */
.sidebar {
  margin: 0;
  padding: 0;
  width: 60px;
  background-color: rgba(169, 248, 126);
  position: fixed;
  top: 0;
  left: 0; 
  bottom: 0; 
  overflow: auto;
  border-right: rgb(46, 255, 4) 5px solid;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  border-bottom: black 1px solid;
}

.sidebar a.active {
  background-color: lightblue;
  color: white;
}

.sidebar a.createButton {
  background-color: #00ff08;
  border-top: black 1px solid;
}

.sidebar a.deleteButton {
  background-color: rgb(255, 89, 89);
}

.sidebar a:hover:not(.active) {
  background-color: rgb(46, 255, 4);
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

